:root{
    --background:#F4F6FA;
    --dark:#313E51;
    --whte:#FFFFFF;
    --gray:#626C7F;
  }
  #root{
    width: 100vw;
    height: 100vh;
    background-image: url(/Ellipse\ 8.svg);
    background-position: left top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
  .main{
  
    width: 100vw;
    height: 100vh;
  
  }
  body{
    background-image: url(/Ellipse\ 9.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: var(--background);
    display: flex;
    align-items: center;
 
  }
  .fl{
    display: flex;
    flex-direction: row;
    height: auto;
  
  }
  .wl{
    font-size: 64px;
    font-weight: 300;
    color: var(--dark);
  
  }
  .front{
     color: var(--dark);
     font-size: 64px;
     font-weight: 500;
  }
  .pic{
    font-size: 20px;
    color: var(--dark);
    font-style: italic;
    font-weight: 400;
    margin-top: 48px;
  }
  .left{
    height: auto;
  }
  .right{
   height: auto;
  }
  