:root{
    --background:#F4F6FA;
    --dark:#313E51;
    --whte:#FFFFFF;
    --gray:#626C7F;
  }
  body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #root{
    width: 100vw;
    height: 100vh;
    background-image: url(/Ellipse\8.svg);
    background-repeat: no-repeat;
    background-position: bottom;
  
  } 
  .main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wl{
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
  }
  .front{
    align-self: stretch;
    color: var(--dark);
    font-size: 40px;
    font-weight: 500;
    margin-top: 8px;
  }
  .pic{
   align-self: stretch;
   color: var(--gray);
   font-size: 16px;
   font-style: italic;
   font-weight: 400;
   margin-top: 16px;
  }
  .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .four{
    background-color: var(--whte);
    width: 330px;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    gap: 16px;


  }


  @media(min-width:768px){
    

  .wl{
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
  }
  .front{
    align-self: stretch;
    color: var(--dark);
    font-size: 64px;
    font-weight: 500;
    margin-top: 8px;
  }
  .pic{
   align-self: stretch;
   color: var(--gray);
   font-size: 20px;
   font-style: italic;
   font-weight: 400;
   margin-top: 16px;
  }
  .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .four{
    background-color: var(--whte);
    width: 640px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    gap: 24px;


  }
  @media(min-width:768px){

    .main{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 143px;
    }
    .wl{
      color: var(--dark);
      font-size: 64px;
      font-weight: 500;
    }
    .front{
      align-self: stretch;
      color: var(--dark);
      font-size: 64px;
      font-weight: 500;
      margin-top: 8px;
    }
    .pic{
     align-self: stretch;
     color: var(--gray);
     font-size: 20px;
     font-style: italic;
     font-weight: 400;
     margin-top: 48px;
    }
    .right{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
    .four{
      background-color: var(--whte);
      width: 564px;
      height: 96px;
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 12px;
      box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
      
  
  
    }

  }
  }

